html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

a.image_remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    border: 0;
    color: #fc9090;
    line-height: 18px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    position: absolute;
    background: #ffffff;
}

a.image_remove:hover {
    background: #fc9090;
    color: #ffffff !important;
}

.product-image {
    display: inline-block;
    padding-bottom: 10px;
}

.add-item-link {
    float: right;
}

.add-item-form {
    width: 50%;
}

.m_input {
    width: 50px;
    height: 34px;
    border-radius: 2px;
    border: solid 1px #dfdfdf;
    padding-left: 5px;
}

.order-index .table-striped tr.new {
    background-color: #82e086;
}
.order-index .table-striped tr.in_progress {
    background-color: #dfe181;
}
.order-index .table-striped tr.done {
    background-color: #d4ecd6;
}
.order-index .table-striped tr.shipped {
    background-color: #fbbe89;
}
.order-index .table-striped tr.canceled {
    background-color: #ddd;
}
.order-index .table-striped tr.payment {
    background-color: #ffbbba;
}
.order-index .table-striped tr.pre_order {
    background-color: #81e0e1;
}