html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.not_active {
    color: gray;
}

.not_is_stock {
    color: red;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

a.image_remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
    border: 0;
    color: #fc9090;
    line-height: 18px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    position: absolute;
    background: #ffffff;
}

a.image_remove:hover {
    background: #fc9090;
    color: #ffffff !important;
}

.product-image {
    display: inline-block;
    padding-bottom: 10px;
}

.add-item-link {
    float: right;
}

.add-item-form .col-md-5,
.add-item-form .col-sm-6 {
    padding-left: 0;
}

.m_input {
    width: 50px;
    height: 34px;
    border-radius: 2px;
    border: solid 1px #dfdfdf;
    padding-left: 5px;
}

.order-index .table-striped tr.x_new {
    background-color: #82e086;
}
.order-index .table-striped tr.was_collected {
    background-color: #dfe181;
}
.order-index .table-striped tr.was_collect {
    background-color: #feb5ff;
}
.order-index .table-striped tr.done {
    background-color: #d4ecd6;
}
.order-index .table-striped tr.in_shipping {
    background-color: #ffe1c6;
}
.order-index .table-striped tr.canceled {
    background-color: #ddd;
}
.order-index .table-striped tr.payment {
    background-color: #ffbbba;
}
.order-index .table-striped tr.is_pre_order {
    background-color: #81e0e1;
}
.order-index .table-striped tr.was_paid {
    background-color: #fbbe89;
}

.table.table-prices tbody > tr > td,
.table.table-prices thead > tr > th {
    border: none;
}

.diversity-fields {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.diversity-fields .control-label {
    width: 100px;
}

.diversity-fields .form-control {
    width: 100px;
    display: inline;
}

.form-group {
    clear: both;
}

.index-full {
    float: right;
}

.pb-2 {
    padding-bottom: 20px !important;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: -15px;
    }
}

.detail-view tr.sale,
.table-striped > tbody > tr.sale:nth-of-type(odd) {
    background-color: #ffd7a4;
}